:root {
  --pink: #ff69a5;
  --hot-pink: #d13061;
  --dark-blue: #4182a2;
  --blue: #50c7b0;
  --white: #f2fcf3;
  font-weight: bold;
  color: white;
}

body {
  margin: 0px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 19vh 1fr;
}

header {
  background-color: var(--pink);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 15px 30px 15px 30px;
  position: relative;
  z-index: 10;
  --blur: 15px;
  box-shadow: 0 0 var(--blur) rgb(0 0 0 / 75%);
  clip-path: inset(0px 0px calc(var(--blur) * -1) 0px);
}

.upper,
.lower {
  display: flex;
  align-items: center;
  gap: 20px;
}

.upper input[type="search"] {
  width: calc(40% + 30px);
  height: 50%;
  border-radius: 30px;
  border: none;
  background-color: var(--hot-pink);
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  color: white;
  font-weight: 500;
  opacity: 0.5;
}

.upper input[type="search"]:focus {
  opacity: 1;
}

.upper svg,
.lower svg {
  height: 48px;
  width: 48px;
}

button.new {
  margin-left: auto;
}

.lower button {
  width: 88px;
  height: 36px;
  border-radius: 88px;
  border: none;
  background-color: var(--blue);
  outline: white;
  outline-style: solid;
  outline-width: 2px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

svg.notification {
  margin-left: auto;
}

aside {
  background-color: var(--dark-blue);
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.aside-header {
  font-size: 1.5em;
  margin: 0px;
  margin-bottom: 40px;
}

.aside-header > svg {
  margin-right: 10px;
}

.item:not(.aside-header) > svg {
  height: 35px;
  width: 35px;
}

.aside-header > svg {
  height: 48px;
  width: 48px;
}

.item.settings {
  margin-top: 10vh;
}

aside > .item > svg {
  margin-right: 5px;
}

aside > .item {
  display: flex;
  align-items: center;
  color: var(--white);
  font-weight: bold;
}

svg {
  fill: var(--white);
}

main {
  background-color: var(--hot-pink);
  display: grid;
  grid-template-columns: 75% 1fr;
  grid-template-rows: 55% 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  padding: 20px;
  padding-top: 10px;
  gap: 20px;
}

main h1 {
  font-size: 1em;
  margin: 0;
  margin-bottom: 3px;
}

.your-projects {
  grid-area: projects;
}

main > div {
  display: flex;
  flex-direction: column;
}

.your-projects > .card-container {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
  flex: 1;
}


.card-container svg {
  flex: 1;
}


.card-container .svg-container {
  margin-top: auto;
  align-self: flex-end;
  margin-right: 30px;
  display: flex;
  width: 80px;
  height: 20px;
}

.card-container .card {
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  border-style: solid;
  border-color: var(--dark-blue);
  border-width: 0px;
  border-left-width: 8px;
}

.card-container .card p {
 margin-block-start: 0px;
 margin-block-end: 0px;
 margin-right: 80px;
 font-size: 0.8em;
}

.card-container h1 {
  margin-bottom: 0;
}

.card {
  background-color: var(--pink);
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px rgb(34 34 34 / 32%);
}

.announcements > .card,
.trending > .card {
  flex: 1;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
