body {
  margin: 0px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 20vh 1fr;
  grid-template-rows: 13vh 1fr;
}

header {
  background-color: whitesmoke;
}

aside {
  background-color: blue;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
}

main {
  background-color: grey;
}
