:root {
  --pink: #ff69a5;
  --hot-pink: #d13061;
  --dark-blue: #4182a2;
  --blue: #50c7b0;
  --white: #f2fcf3;
}

body {
  margin: 0px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 40vh 1fr;
  grid-template-rows: 19vh 1fr;
}

header {
  background-color: var(--pink);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 30px;
  padding-top: 15px;
  position: relative;
  z-index: 10;
  --blur: 15px;
  box-shadow: 0 0 var(--blur) rgb(0 0 0 / 75%);
  clip-path: inset(0px 0px calc(var(--blur) * -1) 0px);
}

.upper,
.lower {
  display: flex;
  align-items: center;
  gap: 20px;
}

.upper input[type="search"] {
  width: calc(40% + 30px);
  height: 50%;
  border-radius: 30px;
  border: none;
  background-color: var(--hot-pink);
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  color: white;
  font-weight: 500;
  opacity: 0.5;
}

.upper input[type="search"]:focus {
  opacity: 1;
}

button.new {
  margin-left: auto;
}

svg.notification {
  margin-left: auto;
}

aside {
  background-color: var(--dark-blue);
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

aside > h1 {
  font-size: 1.5em;
  margin: 0px;
  margin-bottom: 40px;
}

aside > h1 > svg {
  margin-right: 10px;
}

.item:not(h1) > svg {
  height: 35px;
}

.item.settings {
  margin-top: 10vh;
}

aside > .item:not(h1) > svg {
  margin-right: 5px;
}

aside > .item {
  display: flex;
  align-items: center;
  color: var(--white);
  font-weight: bold;
}

aside svg {
  fill: var(--white);
}

main {
  background-color: var(--hot-pink);
  display: grid;
  grid-template-columns: 75% 1fr;
  grid-template-rows: 55% 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

main h1 {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}

.your-projects {
  grid-area: projects;
  display: grid;
  grid-template: max-content repeat(3, 1fr) / 1fr 1fr;
  gap: 20px;
  padding: 20px;
  padding-top: 0px;
}

.your-projects > h1 {
  grid-column: 1 / -1;
  position: relative;
  top: 15px;
}

.card {
  background-color: var(--pink);
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px rgb(34 34 34 / 32%);
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
